[Desktop Entry]
Type=Application
Name=Neovim Harness: New Plain Text
GenericName=Neovim clipboard editor
Comment=Copies plain text to the clipboard after exit.
Exec=neovim.harness
Icon=neovide
Terminal=false
StartupNotify=false
Categories=Utility;TextEditor;
Keywords=neovim;clipboard;plain;text;
X-KDE-GlobalAccel-CommandShortcut=true
